<html>
  <head><title><%= title %></title></head>
  <body>
    
      <ul>
          <% for(var i=0; i < link.length; i++) { %>
            <img src= <%=link[i] %> height= "200" width= "auto">
         <% } %>

      </ul>

  </body>
</html>